@model ApiOneYearBible.Models.BibleReadings
@* <html lang="en"> *@
@*   <head> *@
@*     <meta charset="UTF-8"> *@
@*     <meta name="viewport" content="width=device-width, initial-scale=1.0"> *@
@*     <title>One Year Bible</title> *@
@* *@
@*     <link rel="stylesheet" href="/css/Index.css"> *@
@*   </head> *@
@*   <body> *@
    @section Styles {
      <link rel="stylesheet" href="/css/Index.css">
    }
    <div id="container">
      <div id="header">
        <div id="monthDisplay"></div>
        <div>
          <button id="backButton">Back</button>
          <button id="nextButton">Next</button>
        </div>
      </div>

      <div id="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
      </div>

      <div id="calendar"></div>
    </div>

    <div id="newEventModal">
      <h4>Daily Readings <span id="modelDate"></span></h4>
      <div id="modelLoading" style="display:none;">loading...</div>
      <h6 style="color: red"><br />Old Testament Reading: <span id="otRef"></span></h6>
      <div id="otText">
        @Html.Raw(Model.ApiText[0])
      </div>
      <h6 style="color: red"><br />New Testament Reading: <span id="ntRef"></span></h6>
      <div id="ntText">
        @Html.Raw(Model.ApiText[1])
      </div>
      <h6 style="color: red"><br />Psalm Reading: <span id="psalmRef"></span></h6>
      <div id="psalmText">
        @Html.Raw(Model.ApiText[2])
      </div>
      <h6 style="color: red"><br />Proverb Reading: <span id="proverbRef"></span></h6>
      <div id="proverbText">
        @Html.Raw(Model.ApiText[3])
      </div>
      <input id="eventTitleInput" placeholder="" /> 
      @* <button id="saveButton">Save</button> *@
      <button id="cancelButton">Close</button> 
    </div>

    <div id="deleteEventModal">
      <h2>Event</h2>

      <p id="eventText"></p>

      <button id="deleteButton">Delete</button>
      <button id="closeButton">Close</button>
    </div>

    <div id="modalBackDrop"></div>

    <script src="/js/script.js"></script>
@*   </body> *@
@* </html> *@