@model ApiOneYearBible.Models.BibleReadings

    @section Styles {
      <link rel="stylesheet" href="/css/Index.css">
    }
    <div id="container">
      <div id="header">
        <div id="monthDisplay"></div>
        <div>
          <button id="backButton">Back</button>
          <button id="nextButton">Next</button>
        </div>
      </div>

      <div id="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
      </div>

      <div id="calendar"></div>
    </div>

    <div id="newEventModal">
      <h4>Daily Readings <span id="modalDate"></span></h4>
      <div id="modalLoading" style="display:none;">loading...</div>
      <h6 style="color: red"><br />Old Testament Reading: <span id="otRef"></span></h6>
      <div id="otText"></div>
      <h6 style="color: red"><br />New Testament Reading: <span id="ntRef"></span></h6>
      <div id="ntText"></div>
      <h6 style="color: red"><br />Psalm Reading: <span id="psalmRef"></span></h6>
      <div id="psalmText"></div>
      <h6 style="color: red"><br />Proverbs Reading: <span id="proverbRef"></span></h6>
      <div id="proverbText"></div>
    <button id="cancelButton">Close</button> 
    </div>

    <div id="deleteEventModal">
      <h2>Event</h2>

      <p id="eventText"></p>

      <button id="deleteButton">Delete</button>
      <button id="closeButton">Close</button>
    </div>

    <div id="modalBackDrop"></div>

    <script src="/js/script.js"></script>
